<p *ngIf="!titulos">Carregando Titulos</p>

<div class="card" *ngIf="titulos">
  <div class="card-body">

    <h1 class="h4 titulo">Titulos</h1>

    <span class="table-add float-right mb-2 mr-2">
      <a class="text-success">
        <button class="btn btn-primary btn-block" type="submit" (click)="adicionarTitulo()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
          </svg>
        </button>
      </a>
    </span>

    <table class="table table-hover" *ngIf="titulos">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Cliente Devedor</th>
          <th>Valor Original</th>
          <th>Dias em Atraso</th>
          <th>Multa</th>
          <th>Juros</th>
          <th>Valor Corigido</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of titulos">
          <th>{{t.id}}</th>
          <th>{{t.nomeCliente}}</th>
          <th class="valor">{{t.vlrOriginal | number:'1.2-2'}}</th>
          <th class="central">{{t.diasEmAtraso}}</th>
          <th class="valor">{{t.vlrMulta | number:'1.2-2' }}</th>
          <th class="valor">{{t.vlrJuros | number:'1.2-2'}}</th>
          <th class="valor">{{t.vlrCorrigido | number:'1.2-2'}}</th>
          <th><button class="btn btn-info btn-sm" (click)="mostaParcela(t)">Parcelas</button></th>
          <th><button class="btn btn-success btn-sm" (click)="editarTitulo(t)">Editar</button></th>
          <th><button class="btn btn-danger btn-sm" (click)="excluirTitulo(t)">Excluir</button></th>
        </tr>

      </tbody>
    </table>
  </div>
</div>


