<!--<div class="text-center">-->
<form class="form-group mb-4">
  <div class="card col-md-6">
    <div class="card-body">

      <h1 class="h4 mb-4 cadastro">Cadastro de Cliente</h1>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="inputNome">Nome</label>
          <input type="text" id="inputNome"
                 name="nome" placeholder=""
                 class="form-control mb-2"
                 #nome="ngModel"
                 [ngClass]="{
            'is-invalid':nome.invalid && (nome.dirty || nome.touched),
            'is-valid':nome.valid && (nome.dirty || nome.touched)
           }"
                 [(ngModel)]="cliente.nome"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
            <div *ngIf="nome.errors.required">Nome deve ser informado </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="inputSobreNome">Sobrenome</label>
          <input type="text" id="inputSobreNome"
                 name="sobreNome" placeholder=""
                 class="form-control mb-2 col"
                 #sobreNome="ngModel"
                 [(ngModel)]="cliente.sobreNome" />
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="inputCPF">CPF</label>
          <input type="text" id="inputCPF"
                 name="cpf" placeholder="000.000.000-00"
                 class="form-control mb-2 col"
                 maxlength="11"
                 #cpf="ngModel"
                 [ngClass]="{
            'is-invalid':nome.invalid && (nome.dirty || nome.touched),
            'is-valid':nome.valid && (nome.dirty || nome.touched)
           }"
                 (ngModelChange)="cliente.cpf=$event"
                 [ngModel]="cliente.cpf | CPF"
                 required />
          <div class="invalid-feedback mb-2" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
            <div *ngIf="cpf.errors.required">CPF deve ser informado </div>
          </div>

        </div>
        <div class="form-group col-md-6">
          <label for="inputFone">Fone</label>
          <input type="text" id="inputFone"
                 name="fone" placeholder="(00)000000000"
                 class="form-control mb-2 col"
                 #sobreNome="ngModel"
                 (ngModelChange)="cliente.fone=$event"
                 [ngModel]="cliente.fone | foneMask" />
        </div>
      </div>

      <div class="form-row form-inline">
        <div class="form-group col-md-6">
          <button class="btn btn-primary btn-block" type="submit" (click)="cadastrar()" [disabled]="ativarSpinner">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
            {{cadastrarAtualizar}}
          </button>
        </div>

        <div class="form-group col-md-6">
          <button class="btn btn-secondary btn-block" type="submit" [routerLink]="['/cliente']">
            Cancelar
          </button>
        </div>
      </div>

      <div class="alert alert-danger" *ngIf="alerta">
        {{mensagem}}
      </div>

      <div class="alert alert-success" *ngIf="clienteCadastrado">
        {{mensagem}}
      </div>

    </div>
  </div>

</form>
<!--</div>-->
